body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* header {
    background-color: #6f90b4;
    color: white;
    padding: 1em 0;
    text-align: center;
} */

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: rgb(243, 235, 235);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2em;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

footer {
    background-color: #535151;
    color: white;
    text-align: center;
    padding: 0.1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
